{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Vuoden lehtikuvat</h1>
      <p>Vuoden lehtikuvaksi ja vuoden henkilökuvaksi valittiin helsinkiläisen freelance-kuvaajan Katja Lösösen kuva kirjalija Bo Carpelanista.</p>
      <p>Vuoden lehtikuvaajaksi valittiin Helsingin Sanomien Hannes Heikura.</p>
      <p>Kuvituskuvasarjan voitti Jaana Kautto ja Anniina Louhivuori Sunnuntai-
          suomalaisesta.</p>
      <p>Vuoden reportaasisarjan voitti Sami Kero Gaza-aiheisella kuvasarjallaan.</p>
      <p>Vuoden urheilukuvan otti freelancer Kari Kuukka seiväshyppääjä Matti Monosesta.</p>
      <p>Vuoden Uutiskuvan otti Helsingin Sanomien Markus Jokela Sonera-oikeudenkäynnistä.</p>
      <p>Vuoden lehtikuvat 2005 –kilpailun osallistui 1552 kuvaa 77 kuvaajalta.

          Kilpailun juryyn kuuluivat valokuvaaja Lauri Eriksson, tiedotusjohtaja Atte Palomäki, valokuvauksen yliopettaja Pauliina Pasanen, valokuvaaja Sari Poijärvi sekä  AD Tuija Tarkiainen.
          
          Vuoden lehtikuvat 2005 –kilpailun tulokset julkistetaan 9.3.2006 klo 18.00 Nordea Pankin tiloissa Satamaradankatu 5:ssä Helsingissä.</p>
      <h2>Mitä eri lainoja kannattaa ottaa?</h2>
          Tässä muutamia laina-esimerkkejä:
          <ul>
            <li><a href="https://www.vippikeidas.fi/lainaa-ilman-liitteita/" class="link">lainaa ilman liitteitä</a></li>
            <li><a href="https://lainakartta.fi/laina-ilman-liitteita/" class="link">lainaa heti ilman liitteitä</a></li>
            <li><a href="https://vippaajat.fi/pikavippi-sunnuntaina/" class="link">pikavippi viikonloppuna</a></li>
          </ul> 
          Näillä laina-sivuilla pääset alkuun!
      </div>
{{ end }}
